* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Segoe UI'Tahoma, Verdana, Sans-Serif;
}

body {
  background-color: gray;
}

.container {
  width: 100%;
  background-color: white;
  padding: 20px;
}

.container .judul {
  font-size: 32px;
  font-weight: bold;
}

.header ul li{
  padding-top: 10px;
}

.header a{
  color: salmon;
  margin-right: 5px;
  text-decoration: none;
  font-size: 8px;
  transition: 0.3s;
}

.header a:hover{
  background-color:gray;
  color: white;
  transition: 0.3s;
  border-radius: 2px;
  transform: scale(1.1);
  padding: 1px 2px;
}

.image {
  /* display: inline-block; */
  margin-top: 10px;
  border-radius: 10px;
  border-right: 2px solid lightgray;
  height: 200px;
  width: 100%;
  max-width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxMH04YK-nga1hsBafFJwcJTXUyMGijHV1OAJPFmQFrrseItoJNwtNS_s&s=10');
}

@media (min-width: 768px) {
  .image {
    height: 300px;
  }
}

.main {
  width: 60%;
  float: left;
  border: box-sizing;
}

.main h2 {
  font-size: 18px;
  padding-top: 5px;
}

.main .Penulis {
  font-size: 8px;
  margin-top: -8px;
}

.main .Penulis a{
  transition: 0.3s;
  
}

.main .Penulis a:hover{
  background-color: lightblue;
  color: black;
  padding: 1px 2px;
  border-radius: 10px;
  transition: 0.3s;
  transform: scale(1.1);
  font-style: underline;
}

.main p {
  font-size: 12px;
  font-family: Arial;
  padding-top: 5px;
  text-align: justify;
} 

.sidebar {
  width: 35%;
  float: right;
  border: box-sizing;
}

.sidebar h3{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar p{
  font-size: 12px;
  font-family: Arial;
  text-align: justify;
  hyphens: auto;
  padding-top: 2px;
  padding-bottom: 3px;

}

.profils {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('images.jpg');
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.footer .copyright{
  padding-left: auto;
  padding-right: auto;
  padding: 8px;
  background-color: lightgray;
  color: white;
  font-size: 12px;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: center;
  justify-content: center;
  text-align: center;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
